SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LuWorkoutType](
	[WorkoutTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SportId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Order] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LuWorkoutType] PRIMARY KEY CLUSTERED 
(
	[WorkoutTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [LuWorkoutType]  WITH CHECK ADD  CONSTRAINT [FK_LuWorkoutType_LuSport] FOREIGN KEY([SportId])
REFERENCES [LuSport] ([SportId])
GO
ALTER TABLE [LuWorkoutType] CHECK CONSTRAINT [FK_LuWorkoutType_LuSport]
GO
